.Rproj.user
.Rhistory
.RData
.Ruserdata
~$*.xlsx
R/pmp_report.html
R/pmp_report.pdf
client_secret_310581603039-kimk3s3mustf9rnv3qh2h887gmp46gfv.apps.googleusercontent.com.json
*.html
.httr-oauth
~$*
reports/html/
reports/pdf/

website/_site/
*cache*
website/temp/
token.json
R/report/pmp_report.pdf
R/report/pmp_report.html
temp.R